[Unit]
Description=uvicorn
After=network.target

[Service]
Type=forking
ExecStart=/opt/celery/task-freelans/fastapi_math/startuvicorn.sh
[Install]
WantedBy=multi-user.target